[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-smorest = "*"
python-dotenv = "==0.21.0"
sqlalchemy = "==1.4"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
passlib = "*"
flask-migrate = "*"
psycopg2-binary = "*"
requests = "*"
chardet = "*"
rq = "*"
psycopg2 = "*"
redis = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.11"
